/Domain/target/
/Presentation-JSF/target/
/Presentation-Struts/target/
/Presentation-AngularJS/target/
/presentation-angularJS-with-struts-rest-plugin/target/
/domain/target/
/presentation-jsf/target/
/presentation-struts/target/
/presentation-struts/nbproject/
