<div class="languageFlags">
    <input id="brFlag" name="brFlag" type="image" src="./assets/brazil-flag.png" class="langflag" />
    <input id="usFlag" name="usFlag" type="image" src="./assets/usa-flag.png" class="langflag" />
</div>
<div class="inputPanelOffLogin">
    
    <h1 class="wellcome">Bem-vindo à Aplicação</h1>

    <app-messages></app-messages>

    <br/><br/>
    <nav>
    <a routerLink="/dashboard" routerLinkActive="active" class="button" style="float: right">Entrar</a>
    </nav>

</div>
<router-outlet></router-outlet>