html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

/* TOP BAR*/
.top-row{
    padding: 10px;
    text-align: right;
    border-bottom: #0099ff 0.1px solid;
    height: 4.5%;
    display: block;
}
.menu-toggle {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    cursor:pointer;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
}

.content-table{
    width: 100%;
    height: 92%;
}

/*SIDE MENU BAR*/
.side-menu-td{
    width: 15%;
    vertical-align: top;
    height: 100%;
    background-color: #bbbbbb;
}
.side-menu{
    width: 100%;
    height: 100%;
}
.menu-title{
    width: 100%;
    text-align: center;
}
.menu-item{
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-left: 15px;
}
.menu-item:hover{
    background-color: #cccccc;
}

/*CONTENT*/
.content-td{
    vertical-align: top;

}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.tb{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: #0099ff 0.5px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.tb-caption{
    text-align: start;
    background-color: #bbbbbb;
    padding: 5px;
}
.cap-title{
    color: black;
    text-indent: 10px;
    font-weight: bolder;    
}
.tag-container{
    padding: 2.5px;
    line-height: 1.6;
    border: #bbbbbb 0.1px solid;
}
.item-tag{
    padding: 2px 4px 2px 4px;
    text-decoration: none; 
    border: #0099ff 0.1px solid;
    border-radius: 0.5px; 
    font-size: 15px;
    cursor: pointer;
}
.tb-last-line{
    background-color: #bbbbbb;
    padding: 7.5px;
    height: 20px;
}
.input-group{
    float: left;
}
.action-button{
    padding: 2px 4px 2px 4px;
    color: #bbbbbb;
    background-color: #0099ff;
    text-decoration: none; 
    border: #0099ff 0.5px solid;
    border-radius: 2.5px; 
    cursor: pointer;
    margin-left: 5px;
}
.trash-can-icon{
    float: right;
    width: 20px; height: 20px;
}

.placeholder-msg{color: black; margin-left: 15px; font-size: 12px;}
.success-msg{color: green; float: right; margin-left: 15px;}
.info-msg{color: black; float: right; margin-left: 15px;}
.fail-msg{color: red; float: right; margin-left: 15px;}

.tb-users-head{
    background-color: lightgray;
}


/* On screens that are 600px or greater*/
@media screen and (min-width: 600px) {

}
